<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    @for (image of images; track $index) {
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      [attr.data-bs-slide-to]="$index"
      [class.active]="$index === 0"
      aria-current="true"
    ></button>
    }
  </div>
  <div class="carousel-inner">
    @for (image of images; track $index) {
    <div class="carousel-item" [class.active]="$index === 0">
      <img [src]="image" class="d-block w-100" alt="..." />
    </div>
    }
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
    style="color: black !important"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">></span>
  </button>
</div>
