<div class="i-love-apples" data-aos="fade-down">
  <app-modal [show]="showModal" [bgColor]="'gray'" (onClose)="cerrarModal()">
    <app-carousel [images]="images" />
  </app-modal>
  <div class="row">
    <div class="col-md-12 col-sm-12 ancho-fit mx-auto" style="width: 70%">
      <img src="../../../../assets/images/i_love_apples.png" alt="" />
    </div>
  </div>
  @defer {
  <app-menu />
  @if (mostrarFlecha) {
  <div class="row">
    <div
      class="col-md-12 col-sm-12 d-flex justify-content-end order-md-3 order-sm-3"
    >
      <img
        class="flecha"
        src="../../../../assets/images/flecha.png"
        alt=""
        srcset=""
        height="45"
        width="45"
        (click)="abrirModal()"
      />
    </div>
  </div>
  } }
</div>
