.app-footer {
    .anchor {
      &:hover {
        cursor: pointer;
      }
    }

    font-family: "DJB";
    font-size: larger;
    background-color: #ffffff;
    color: #5382a1;
  
    .footer-logo {
      width: 100px;
    }
  
    .footer-link {
      text-decoration: none;
      color: #5382a1;
      margin: 0.25rem 0;
      &:hover {
        cursor: pointer;
      }
    }
  
    .socials {
      .icon-container {
        border-radius: 50%;
        .social-icon {
          font-size: 2rem;
          color: #5382a1;
          &:hover {
            color: darken(#5382a1, 10%);
          }
        }
      }

    }
  
    .copyright {
      margin-top: 0.5rem;
      font-size: 0.9rem;
    }
  }
  