<header class="header">
    <button class="menu-btn" (click)="toggleMenu()">
        <i class="bi bi-list"></i>
    </button>
</header>
  
  @if (menuOpen) {
      <div class="fullscreen-menu" [class.open]="menuOpen">
        <button class="close-btn" (click)="toggleMenu()">&times;</button>
      
        <div class="container menu-container">
          <div class="row text-center g-5">
            <div class="col-6 col-md-3 menu-item" (click)="navigateTo('home')">
              <img appImageLoader src="../../../assets/images/Home.png" class="normal" alt="Inicio">
              <img appImageLoader src="../../../assets/images/Home2.png" class="hover" alt="Inicio">
              <p class="normal">Home</p>
            </div>
            <div class="col-6 col-md-3 menu-item" (click)="navigateTo('nuestra-historia')">
              <img appImageLoader src="../../../assets/images/NuestraHistoria.png" class="normal" alt="Perfil">
              <img appImageLoader src="../../../assets/images/NuestraHistoria2.png" class="hover" alt="Perfil">
              <p class="normal">Nuestra historia</p>
            </div>
            <div class="col-6 col-md-3 menu-item" (click)="navigateTo('paquetes')">
              <img appImageLoader src="../../../assets/images/Queofrecemos.png" class="normal" alt="Configuración">
              <img appImageLoader src="../../../assets/images/Queofrecemos2.png" class="hover" alt="Configuración">
              <p class="normal">Que ofrecemos</p>
            </div>
            <div class="col-6 col-md-3 menu-item">
              <img appImageLoader src="../../../assets/images/Paquetes.png" class="normal" alt="Cerrar sesión">
              <img appImageLoader src="../../../assets/images/Paquetes2.png" class="hover" alt="Cerrar sesión">
              <p class="normal">Paquetes</p>
            </div>
          </div>
        </div>
      </div>
  }
  