.modal-content {
  border-top: none;
  height: 600px;
  overflow: hidden;
}

.modal-header,
.modal-body {
  border-bottom: none;
}

.modal-header {
  button {
    z-index: 2;
  }

  .btn-close {
    background-color: transparent; // Fondo transparente o del color que prefieras
    border: none; // Eliminar cualquier borde predeterminado

    // Cambiar el color del icono 'X' a blanco
    filter: invert(1) grayscale(100%) brightness(200%);
  }
}

.modal-dialog {
  width: 700px; // Ancho fijo de la modal
  height: 600px; // Altura fija de la modal
  max-width: 100%; // Asegura que no exceda el ancho de la pantalla
  display: flex;
  justify-content: center; // Centra el contenido horizontalmente
  align-items: center; // Centra el contenido verticalmente
  overflow: hidden; // Oculta cualquier contenido que exceda los límites de la modal

  .modal-content {
    width: 100%;
    height: 100%;
    display: flex;

    .modal-header {
      right: 0 !important;
    }

    .modal-body {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; // Asegura que no haya desbordamiento
      z-index: 3;

      img {
        max-width: 100%; // Máximo ancho dentro del cuerpo de la modal
        max-height: 100%; // Máxima altura dentro del cuerpo de la modal
        object-fit: contain; // Mantiene las proporciones y ajusta dentro del espacio disponible
        object-position: center; // Asegura que la imagen esté centrada dentro de su contenedor
      }
    }
  }
}
