@if (show) {
<div class="modal" [class.show]="show" style="display: block;">
  <div class="modal-dialog modal-abierta" (click)="onDialogClicked($event)">
    <div class="modal-content" [style.background-color]="bgColor">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
}
