<div class="intro">
  <app-modal
    [show]="showModal"
    (onClose)="showModal = false; this.empezarAnimacion()"
    [bgColor]="bgColor"
  >
    <img
      src="../../../../assets/images/bienvenida.png"
      alt=""
      srcset=""
      style="height: fit-content"
      [style]="{ height: '550px', width: '600px' }"
    />
  </app-modal>
  @defer {
  <div class="logo row mx-auto" data-aos="fade-down">
    <img
      src="../../../../assets/logos/logo_oficial.png"
      alt=""
      srcset=""
      height="300"
    />
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 ancho-fit mx-auto descripcion">
      Apples N' Bananas es
    </div>
  </div>
  }
  <div class="row animacion" data-aos="fade-up">
    <div class="col-md-12 col-sm-12 ancho-fit mx-auto palabras">
      {{ currentText }} <span class="blinking-cursor">_</span>
    </div>
  </div>
</div>
