.contenedor-palabras {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100vh!important;
  background: #9AD4CF;
  img {
    margin-top: auto;
    margin-bottom: auto;
    width: 100vw;
    max-height: 100vh!important;
  }
}
