<div class="row ancho-fit mx-auto">
  @for (item of items; track $index) { @if (elementoSeleccionado === -1) {
  <div
    class="col-md-3 col-sm-6"
    [attr.data-aos]="!nPaquetesVisto ? 'fade-up' : ''"
    [attr.data-aos-delay]="!nPaquetesVisto ? $index * 500 : 0"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center text-center menu-item"
      (click)="openImageModal($index)"
    >
      <img
        appImageLoader
        src="{{ item.img }}"
        alt="{{ item.titulo }}"
        height="160"
        width="160"
      />
      <p class="titulo">{{ item.titulo }}</p>
    </div>
  </div>
  } 
}
</div>

<app-image-modal (onCloseModal)="modalOpen = false" />
